h1 {
    position: relative;
    margin: 10px;
    text-align: center;
    animation: appear 2s forwards;
}

.game {
    display: flex;
    justify-content: center;
}

@media (max-width: 730px) {
    .game {
        display: block;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}